<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        fieldset{
            width: 100%;
            border: #000000 solid 1px;
        }
        #al{
            width: 300px;
            height: 300px;
            background-color: #9fcdff;
            margin: auto;
        }
        #al-out{
            width: 300px;
            display: inline-block;
        }
    </style>
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <fieldset>
            <legend>Calculated Composition</legend>
            <div id="al">
                <div id="al-out">
                    <div class="al-con" style="width:100%;text-align: center">
                        <b>Activity Level</b>
                    </div>
                    <div>
                        <div class="al-con">
                            <input id="l1" name="al" type="radio" value='1.2'>
                            <label for="l1">Sedentary (no exercise)</label><br/>
                        </div>
                        <div class="al-con">
                            <input id="l2" name="al" type="radio" value='1.375'>
                            <label for="l2">Light (1-3 days of exercise)</label> <br/>
                        </div>
                        <div class="al-con">
                            <input id="l3" name="al" type="radio" value='1.55'>
                            <label for="l3">Moderate (3-5 days of exercise)</label><br/>
                        </div>
                        <div class="al-con">
                            <input id="l4" name="al" type="radio" value='1.725'>
                            <label for="l4">Heavy (6-7 days of exercise)</label><br/>
                        </div>
                        <div class="al-con">
                            <input id="l5" name="al" type="radio" value='1.9'>
                            <label for="l5" style="font-size: 12px">Extreme (7 days of exercise/physical job)</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
</body>
</html>